* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: linear-gradient(90deg, blue 0%, cornflowerblue 50%, rgba(69,190,252,1) 100%);

}

#home{
background: url(images/apartment1.jpg);
  background-size: cover;
  object-fit: cover;
  height:80vh;
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top:5%;
  color:white;
  text-shadow: 1px 1px 2px black;
}
.hometext{
  height: fit-content;
  flex-direction: column;
  border:3px solid rgba(0, 0, 0, 0.24);
  box-shadow: 20px 20px 40px 0px rgba(0, 0, 0, 0.632);
  background-color:rgba(43, 41, 41, 0.544);
}

li {
  list-style-type: none;
  }
form{
  border:3px solid rgba(0, 0, 0, 0.24);
  border-radius:3rem;
  box-shadow: 20px 20px 40px 0px rgba(0, 0, 0, 0.632);
  background-color:rgba(43, 41, 41, 0.544);
  display: flex;
  flex-direction: row !important;
  flex-wrap: wrap;
  
}
#form1{
  flex-shrink: 1;
  width: 60vw;
  position: absolute;
  bottom: 50px;
  right: 18rem;
  box-shadow: 20px 20px 40px 0px rgba(0, 0, 0, 0.632);

  
}
#adminbtn{

}
.filters{
  flex-shrink: 1;
  padding-left: 1%;
  padding-bottom: 3%;
}
select , option{
  width: 13.5vw;
  height: 5vh;
  border-color: white;
  background-color: rgb(222, 220, 220);
  border: 2px solid rgb(222, 220, 220);
  border-radius: 25px;
}
.form-label {
  font-weight: bold;
}
#find{
  border:3px solid rgba(0, 0, 0, 0.24);
  padding:5px;
  box-shadow: 20px 20px 40px 0px rgba(0, 0, 0, 0.632);
  background-color:rgba(43, 41, 41, 0.544);
  width:fit-content;
  text-shadow: 3px 2px 3px black;
  margin-top:15%;
  margin-bottom:7%;
  text-shadow: 1px 1px 2px black;
  color: white;
  margin-left: 5%;

}
@media screen and (max-width:1100px) {
  #Housebox{
      margin-top:20%;
  }
}
  @media screen and (max-width:700px) {
      #Housebox{
          margin-top:25%;
      }
}
#properties{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-around;
  
 
}

#housecards{
  margin-bottom:40px !important;
  color:white;
  background-color:rgba(43, 41, 41, 0.544);
  width:400px;
  border:3px solid rgba(0, 0, 0, 0.24);
  padding:10px;
  margin:5px;
  box-shadow: 20px 20px 40px 0px rgba(0, 0, 0, 0.632);
  text-shadow: 3px 2px 3px black;
}

#house-values{
display:flex;
}
li{
  margin-left: 4%;
  list-style: none;
}

/* .heart{
  color: #989898;
  margin-top: 15px;
  margin-left: 230px;
  font-size: 30px;
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  padding: 0px;
  text-align: center;
  cursor: pointer;
}

.heart-active{
  color: crimson;
}

.heart:hover{
  color: crimson;
  background-color: white;
  transition: all 1s ease-in-out;
} */

#sortbtn {
  color: white;
  background-color:rgba(43, 41, 41, 0.544);
  height:40px;
  margin-bottom: 20px;
  margin-left: 20px;
  text-shadow: 3px 2px 3px black;
padding: 5px
}

.footer-distributed {
  background-color:rgba(43, 41, 41, 0.544);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  text-shadow: 3px 2px 3px black;
  padding: 55px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px, cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: #5383d3;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}
.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}
.footer-distributed .footer-center p a {
  color: #5383d3;
  text-decoration: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}




